h1,h2,h3{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color: white;
}
h1,h2,h3,a{
    text-align: center;
}
img,a{
    display: block;
}
h1{
    font-size: 2.5rem;
    background-color: rgb(225, 152, 27);
}
h2{
    font-size: 2rem;
    border: 2px solid;
    background-color: rgb(199, 100, 100);
}
h3{
    font-size: 1.5rem;
    background-color: rgb(136, 93, 214);
}
p{  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    margin:20px 0;
}
img{
    margin: 0 auto;
}
a{
    font-size:1rem;
}