nav ul{
    color: red;
    background-color: aquamarine;
    border-top: 2px solid;
    border-bottom: 2px solid;
    position: relative;
}
nav ul li{
    position: relative;
}
nav ul li:after{
    content:"";
    position:absolute;
    width: 0px;
    height: 2px;
    background-color: black;
    bottom: 0;
    transition: all 1s;
}
nav ul li:hover:after{
    width: 100%;
}


main section a{
    color: white;
    width: 20%;
    padding: 10px;
    border: 2px solid rgb(149, 200, 108);
    border-radius: 10px;
   background-color: rgb(180, 61, 61);
}