html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}
a{
    color:black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2{
    text-align: center;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.3rem;
}